body {
    display: flex;
    justify-content: center;
    align-items: center;
    
    background-color: black;
    
}

.background {
    /* The actual color of the page content background */
    background-image: linear-gradient(
  145deg,
  hsl(245deg 92% 25%) 0%,
  hsl(273deg 91% 31%) 18%,
  hsl(288deg 90% 37%) 33%,
  hsl(300deg 89% 42%) 46%,
  hsl(328deg 100% 50%) 56%,
  hsl(354deg 100% 60%) 66%,
  hsl(29deg 100% 48%) 75%,
  hsl(25deg 100% 70%) 84%,
  hsl(25deg 100% 85%) 92%,
  hsl(0deg 0% 100%) 100%
);
    /* Adjust this padding value to change the size of the background relative to the content */
    margin-top: 5%;
    margin-bottom: 10%;
    padding: 3%;
    border-radius: 35px;
   
    /* Set a maximum width if desired, or remove if not */
    max-width: 90em;
    /* Ensure div takes the necessary space */
    width: 400%;
    /* For centering the text */
    color: white;
    
}

h1 {
    margin-top: 1%;
    color: white;
    font-weight: 500;
    font-size: 300%;
    font-family: 'Rubik', sans-serif;
    padding-left: 0%; /* adjust this to set the consistent start position */
    box-sizing: border-box; /* ensures padding is included in width calculation */
    margin-bottom: 10%;
}

#movie-name2 {
    margin: 0;  /* Removes default top and bottom margins */
}

.header-line {
    display: flex;
    align-items: center;  /* Vertically aligns the contents in the center */
    justify-content: space-between;  /* Optional: Spreads the h1 and rating div apart */
    font-family: 'Rubik', sans-serif;
    color: #ffffff;
    margin-top: -1.5%;
}

.rating {
    display: flex;
    align-items: center;  /* To align star and score on the same line and vertically centered */
    gap: 5px;  /* Optional: Adds a little space between the star and the score */
    font-size: 220%;
    
}
.rating .star, .rating .movie-score {
    margin: 0;  /* Removes default top and bottom margins */
}

.star {
    color: #ffd000;
    transform: translateY(-5%);
}

#response 
    {color: white;
    font-size: 130%;
    font-family: 'Rubik', sans-serif;
    margin-left: 3%;}

.credits {
    margin-top: 9%;
    flex: 1;  
}

.info-line {
    display: flex;
    align-items: center; /* This will vertically center the content if there are any differences in height */
    font-size: 150%;
}

.permanent, .changing {
    margin: 0; /* This will remove any default margins */
}

.changing {
    font-family: 'Nunito', sans-serif;
    font-family: 'Hind Siliguri', sans-serif;
    font-weight: 300;
}

/* Optional: Add some space between the permanent and changing content */
.permanent {
    margin-right: 10px;
    font-family: 'Rubik', sans-serif;
    font-weight: 550;

}

.content-wrapper {
    display: flex;               /* Enable flexbox */
    justify-content: space-between;  /* Space between the credits and video player */
    align-items: flex-start;    /* Align items to the top of the container */
}

#youtubePlayer {
    flex-basis: 756px;          /* Updated width of the video player */
    height: 426px;
    margin-left: -8%;
    margin-top: 9%; 
    /* Other styles if needed */
}

#plot {
    font-family: 'Rubik', sans-serif;
    font-size: 150%;
    max-width: 80%;
    margin-top: 5%;
    font-weight: 100;
}