.mainContainer {
    width: 100%;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(14, 4, 19);
    
}
body::before {
    top: -10px;
    right: -10px;
    bottom: -10px;
    left: -10px;
}

.background {
    /* Adjust this padding value to change the size of the background relative to the content */
    margin-top: 12%;
    margin-bottom: 10%;
    margin-left: auto;
    margin-right: auto;
    padding: 3%;
    border-radius: 35px;
    position: relative;
    /* Set a maximum width if desired, or remove if not */
    max-width: 75em;
    min-width: 71em;
    min-height: 47em;
    color: white;
    z-index: 1;
    padding-bottom: 15%;
}

.background::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -2; /* Send it behind the content */

    /* Move your gradient background here */
    background-image: linear-gradient(
      145deg,
      hsl(245deg 92% 25%) 0%,
      hsl(273deg 91% 31%) 18%,
      hsl(288deg 90% 37%) 33%,
      hsl(300deg 89% 42%) 46%,
      hsl(328deg 100% 50%) 56%,
      hsl(354deg 100% 60%) 66%,
      hsl(29deg 100% 48%) 75%,
      hsl(25deg 100% 70%) 84%,
      hsl(25deg 100% 85%) 92%,
      hsl(0deg 0% 100%) 100%
    );

    border-radius: 35px;
    filter: brightness(0.4);
}


#title {
    position: relative;
    margin-top: 0%;
    font-family: 'Comfortaa', cursive;
    text-align: left;
    margin-left: 35%; 
    margin-top: 3%;
    font-size: 195%;
    font-weight: 100;
    padding-bottom: 7px;
}



#title::after {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    height: 5px;  /* Adjust this to change the thickness of the underline */
    background: linear-gradient(to right, #744DCF 0%, #C642FF 26%, #FF4086 47%, #FF8742 72%, #CFB184 100%);
    border-radius: 10px;
    width: 70%;
    max-width: 40em;

}

#games {
    color: white;
    text-decoration: none; 
    transition: color 0.2s;
    font-size: 80%;
    margin-left: 40%;
    font-size: 150;
}

#games:hover {
    color: #ff4086;
}



h1 {
    margin-top: 1%;
    color: white;
    font-weight: 500;
    font-family: 'Rubik', sans-serif;
    padding-left: 0%; 
    box-sizing: border-box; 
    margin-bottom: 10%;
    font-size: 220%;
}

.header {
    position: absolute;
    margin-top: -5.8%;
    left: 0;
    right: 0;
    margin-left: 0%;
    margin-right: auto;
    width: 92%;
    background-color: rgb(20, 20, 20); 
    padding-left: 4%;
    padding-right: 4%;
    padding-top: 2.5%;
    padding-bottom: 0.97%;
    border-top-left-radius: 35px;
    border-top-right-radius: 35px;
    z-index: -2;
}
.header .rating {
    font-size: 180%; /* adjust the value as needed, it was 220% before */
}

#movie-name2 {
    margin: 0;  /* Removes default top and bottom margins */
}

.header-line {
    display: flex;
    align-items: center;  /* Vertically aligns the contents in the center */
    justify-content: space-between;  /* Optional: Spreads the h1 and rating div apart */
    font-family: 'Rubik', sans-serif;
    color: #ffffff;
    margin-top: -1.5%;
}

.rating {
    display: flex;
    align-items: center;  /* To align star and score on the same line and vertically centered */
    gap: 5px;  /* Optional: Adds a little space between the star and the score */
}
.rating .star, .rating .movie-score {
    margin: 0;  /* Removes default top and bottom margins */
}

.star {
    color: #ffd000;
    transform: translateY(-5%);
}

#response 
    {color: white;
    font-size: 130%;
    font-family: 'Rubik', sans-serif;
    margin-left: 3%;}

.credits {
    margin-top: 5%;
    flex: 1;  
}

.info-line {
    display: flex;
    align-items: center; /* This will vertically center the content if there are any differences in height */
    font-size: 150%;
}

.permanent, .changing {
    margin: 0; /* This will remove any default margins */
}

.changing {
    font-family: 'Nunito', sans-serif;
    font-family: 'Hind Siliguri', sans-serif;
    font-weight: 300;
}

/* Optional: Add some space between the permanent and changing content */
.permanent {
    margin-right: 10px;
    font-family: 'Rubik', sans-serif;
    font-weight: 550;

}
#plot {
    font-family: 'Hind Siliguri', sans-serif;
    font-family: 'Lato', sans-serif;
    font-size: 150%;
    width: 60%;
    margin-top: 5.5%;
    line-height: 135%;
}

.content-wrapper {            
    justify-content: space-between; 
    align-items: flex-start;
    font-size: 95%;
    bottom: 4%;
}


#youtubeThumbnailImage {
    width: 43%;
    border-radius: 25px;
    margin-top: 2%;
    margin-left: 0%;
    filter: brightness(50%)
}
#youtubeThumbnailImage:hover{
    cursor: pointer;
}

#playbutton {
    width: 2.1%;
    position: absolute;
    margin-left: -14.9%;
    margin-top: 20%;
    z-index: 1;
}
#playbutton:hover{
    cursor: pointer;
}
#videotext {
    font-size: 150%;
    position: absolute;
    margin-top: -5.8%;
    margin-left: 24.7%;
    font-family: 'Rubik', sans-serif;
    background-color: #121212c7;
    padding-left: 3.3%;
    padding-top: 0.8%;
    padding-right: 0.8%;
    padding-bottom: 0.8%;
    border-radius: 20px;
}
#videotext:hover{
    cursor: pointer;
}

.modal_wrapper {
    display: none;
}
.modal_inner {
    position: absolute;
    height: auto;
}
.modal_close {
    position: absolute;
    top: 4%;
    left: 3%;
    z-index: 99999;
    display: block;
    padding-top: 5px;
    padding-bottom: 10px;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 35px;
    cursor: pointer;
    font-family: Arial;
    transition: opacity 0.1s;
    font-size: 170%;
}
.modal_close:hover {
    background-color: #121212;
}

.modal_inner iframe {
    position: absolute;
    height: 100%;
    width: 100%;
}

.modal_inner iframe, .modal_wrapper, .modal_inner {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
}

.modal_wrapper.active {
    opacity:1;
    z-index: 99;
    position: fixed;
    display: block;
}

#imdb {
    position: absolute;
    font-size: 140%;
    font-family: 'Rubik', sans-serif;
    color: white;
    margin-left: 70%;
    top: 59%;
}
#finnkino {
    position: absolute;
    font-size: 140%;
    font-family: 'Rubik', sans-serif;
    color: white;
    top: 62.4%;
    margin-left: 70%;
}

#poster {
    
    width: 26%;
    top: 9%;
    left: 69%;
    margin-right: 100%;
    border-radius: 30px;
    position: absolute;
    
}