body {
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: radial-gradient(circle, #0f153f, #101640, #101641, #111742, #111843, #1c1843, #241743, #2c1643, #3b1340, #47103b, #510d35, #590d2e);
    background-image: radial-gradient(circle, #000000, #060103, #0c0207, #10030b, #120410, #1b0a1a, #210f24, #28122f, #391642, #4c1a56, #601c6b, #761c7f);
    background-image: radial-gradient(circle, #000000, #070002, #0d0006, #11000c, #130011, #180217, #1b041d, #1d0623, #24082b, #2b0834, #34053c, #3d0144);
    background-image: radial-gradient(circle, #671f63, #5a1958, #4d144d, #400e43, #340938, #2e0733, #28052d, #230228, #220227, #210226, #200224, #1f0223);
    
}

.background {
    /* The actual color of the page content background */
    background-color: #090909b4; /* White */
    /* Adjust this padding value to change the size of the background relative to the content */
    margin-top: 5%;
    margin-bottom: 10%;
    padding: 3%;
    border-radius: 35px;
   
    /* Set a maximum width if desired, or remove if not */
    max-width: 90em;
    /* Ensure div takes the necessary space */
    width: 400%;
    /* For centering the text */
    color: white;
    
}

h1 {
    margin-top: 1%;
    color: white;
    font-weight: 500;
    font-size: 300%;
    font-family: 'Rubik', sans-serif;
    padding-left: 0%; /* adjust this to set the consistent start position */
    box-sizing: border-box; /* ensures padding is included in width calculation */
    margin-bottom: 10%;
}

#movie-name2 {
    margin: 0;  /* Removes default top and bottom margins */
}

.header-line {
    display: flex;
    align-items: center;  /* Vertically aligns the contents in the center */
    justify-content: space-between;  /* Optional: Spreads the h1 and rating div apart */
    font-family: 'Rubik', sans-serif;
    color: #a2a2a2;
    margin-top: 1%;
}

.rating {
    display: flex;
    align-items: center;  /* To align star and score on the same line and vertically centered */
    gap: 5px;  /* Optional: Adds a little space between the star and the score */
    font-size: 220%;
    
}
.rating .star, .rating .movie-score {
    margin: 0;  /* Removes default top and bottom margins */
}

.star {
    color: #cbaa17;
    transform: translateY(-5%);
}

#response 
    {color: white;
    font-size: 130%;
    font-family: 'Rubik', sans-serif;
    margin-left: 3%;}

.credits {
    margin-top: 9%;
    flex: 1;  
}

.info-line {
    display: flex;
    align-items: center; /* This will vertically center the content if there are any differences in height */
    font-size: 150%;
}

.permanent, .changing {
    margin: 0; /* This will remove any default margins */
}

.changing {
    font-family: 'Nunito', sans-serif;
    font-family: 'Hind Siliguri', sans-serif;
    font-weight: 300;
}

/* Optional: Add some space between the permanent and changing content */
.permanent {
    margin-right: 10px;
    font-family: 'Rubik', sans-serif;
    font-weight: 550;

}

.content-wrapper {
    display: flex;               /* Enable flexbox */
    justify-content: space-between;  /* Space between the credits and video player */
    align-items: flex-start;    /* Align items to the top of the container */
}

#youtubePlayer {
    flex-basis: 756px;          /* Updated width of the video player */
    height: 426px;
    margin-left: -8%;
    margin-top: 9%; 
    /* Other styles if needed */
}

#plot {
    font-family: 'Rubik', sans-serif;
    font-size: 150%;
    max-width: 80%;
    margin-top: 5%;
    font-weight: 100;
}