body {
    background-color: #202d38; /* Change this color to what you want */
}

.image-box {
    position: relative;
    overflow: hidden;
    transform: scale(1);
    transition: transform 0.25s ease;
    border-radius: 35px;
    width: 100%;
    height: auto;
}

.image-box:hover {
    transform: scale(1.2);
    z-index: 2;
    outline: 10px solid rgb(255, 255, 255);
    outline-offset: -5px;
}

.poster-image {
    transition: filter 0.2s ease-in-out;
}

.image-box:hover .poster-image {
    filter: brightness(40%) blur(2px);
}

.imdb-image {
    position: absolute;
    top: 10px;
    right: 10px;
    height: 10%;  /* Adjust this to 60% smaller */
    z-index: 3; /* ensure the logo stays above the overlay */
    opacity: 0; /* The logo is initially invisible */
    transition: opacity 0.3s ease-in-out;
}

.image-box:hover .imdb-image {
    opacity: 1; /* The logo becomes visible when hovering over the image box */
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding-left: 10px; /* adjust as needed */
    opacity: 0;
    color: white;
    transition: all 0.3s ease-in-out;
    z-index: 2; /* Ensure the overlay is under the logo */
}

.image-box:hover .overlay {
    opacity: 1;
}

.data-set {
    display: flex;
    flex-direction: column;
    margin-top: 15px; /* Added some margin to separate score from other info */
}

.info-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.info-label,
.info-content {
    margin: 0; /* remove standard paragraph margins */
}

.score-item {
    display: flex;
    justify-content: center;
    align-items: center;
}


.image-box:hover .score-item {
    opacity: 1; /* The score becomes visible when hovering over the image box */
}