body {
    background-color: rgb(1, 1, 43);
    color: white;
    font-family: Arial, sans-serif;
}

h1 {
    font-size: 3em;  /* Increase the font size */
    padding: 2em; /* Increase the padding */
    margin-left: 10%;
}

.gallery {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-row-gap: 1em;
    grid-column-gap: 0.5em;
    padding: 1em;
    max-width: 1200px; 
    margin: auto; 
    justify-items: center;
}

.gallery-item {
    text-align: center;
}

.gallery-item img {
    width: 100%;
    max-width: 350px;
    height: 450px;
    object-fit: contain; 
    border-radius: 12%;
}
