body {
    /* https://mycolor.space/gradient3?ori=circle&hex=%23000000&hex2=%2313091A&hex3=%23761C7F&submit=submit */
    
    /* https://animated-gradient-background-generator.netlify.app */
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    background-color: rgb(0, 0, 0);
    transform: scale(0.87);
    transform-origin: center center;
}
.main-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
}
.outer {
    max-width: 90em;
    width: 100%;
    padding: 6px;
    position: relative;
    z-index: 1;
    background-image: linear-gradient(
  145deg,
  hsl(245deg 92% 25%) 0%,
  hsl(273deg 91% 31%) 18%,
  hsl(288deg 90% 37%) 33%,
  hsl(300deg 89% 42%) 46%,
  hsl(328deg 100% 50%) 56%,
  hsl(354deg 100% 60%) 66%,
  hsl(29deg 100% 48%) 75%,
  hsl(25deg 100% 70%) 84%,
  hsl(25deg 100% 85%) 92%,
  hsl(0deg 0% 100%) 100%
);
    filter: brightness(120%);
    border-radius: 54px;
    margin-top: 5%;
    text-align: center;
  }
  
  .outer:before {
    content: "";
    position: absolute;
    top: -10px;
    right: -10px;
    bottom: -10px;
    left: -10px;
    z-index: -1;
    background-image: linear-gradient(
        150deg,
        hsl(24deg 100% 55%) 0%,
        hsl(9deg 85% 57%) 3%,
        hsl(353deg 65% 52%) 6%,
        hsl(339deg 74% 41%) 10%,
        hsl(327deg 83% 31%) 15%,
        hsl(315deg 80% 22%) 20%,
        hsl(307deg 75% 18%) 26%,
        hsl(303deg 74% 16%) 33%,
        hsl(299deg 74% 14%) 41%,
        hsl(294deg 75% 13%) 49%,
        hsl(289deg 76% 12%) 57%,
        hsl(300deg 73% 13%) 65%,
        hsl(326deg 69% 25%) 73%,
        hsl(344deg 59% 40%) 80%,
        hsl(4deg 57% 53%) 87%,
        hsl(23deg 82% 56%) 94%,
        hsl(39deg 94% 55%) 100%
    ); 
    filter: blur(20px);
    border-radius: 64px; /* The sum of the outer's border-radius and the offset of the pseudo-element */
  }
  
  .background {
    background-color: rgb(20, 20, 20); /* Updated background-color */
    border-radius: 48px;
    padding: 2%;
    width: 100%;
    height: 100%;
    color: white; 
    font-family: arial;
  }
  




.score-item {
    font-family: 'Comfortaa', cursive;
    font-family: 'Nunito', sans-serif;
    font-size: 120%;
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0; 
    text-align: center; 
    width: 100%; 
    padding-top: 25%; 
    font-weight: 500;
    color: #a2a2a2;
    margin-bottom: -15%;   /* This ensures vertical centering */
}

.movie-name {
    font-size: 140%;
    font-weight: 500;
    font-family: 'Rubik', sans-serif;
    color: #ffffff;
    margin-top: -30%; 
}

.movie-runtime {
    margin-top: 10%;
    margin-bottom: 1%;  /* Adjust as needed */
    margin-left: 23%;
}

.rating {
    display: flex;
    align-items: center; /* This will ensure that star and score are vertically aligned in the middle */
    margin-left: 5%;
    margin-top: 9%;
}

.star, .movie-score {
    margin: 0; /* remove any default margin */
    right: 400%;
}

.star {
    color: #cbaa17;
    transform: translateY(+1%);
    transform: translateX(-9%);
}

.info-line {
    display: flex;
    justify-content: space-between;
    align-items: center; /* For vertical alignment */
    width: 100%;
    margin-top: -8%;
    margin-left: -10%;
    font-size: 100%;
}

.rating, .movie-runtime {
    flex: 1;  /* This ensures they take up equal space */
}


#theaters {
    display: block;
    width: 100%;
    text-align: left;
    margin-top: 13%;
    text-align: center; 
    font-family: 'Comfortaa', cursive;
    font-size: 235%;
}

#title {
    position: relative;
    margin-top: 0%;
    font-family: 'Comfortaa', cursive;
    text-align: left;
    margin-left: 0%;
    margin-top: -9%;
    font-size: 250%;
    font-weight: 300;
    padding-bottom: 5px; /* Ensure there's space beneath the text for the underline */
}



#title::after {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    height: 5px;  /* Adjust this to change the thickness of the underline */
    background: linear-gradient(to right, #744DCF 0%, #C642FF 26%, #FF4086 47%, #FF8742 72%, #CFB184 100%);
    border-radius: 10px;
}

#games {
    color: white;
    text-decoration: none; 
    transition: color 0.2s;
    font-size: 80%;
    margin-left: 74.2%;
}

#games:hover {
    color: #ff4086;
}



.container {
    /* Allow the container to take full width and height of the parent div */
    width: 100%;
    height: 100%;
    /* Additional space around the content if needed */
    padding: 1em;
}

.image-box {
    position: relative;
    overflow: hidden;
    transform: scale(1);
    transition: transform 0.25s ease;
    border-radius: 35px;
    width: 100%;
    height: auto;
}

.image-box:hover {
    transform: scale(1.15);
    z-index: 2;
    outline: 7px solid rgb(255, 255, 255);
    outline-offset: -3px;
}

.poster-image {
    transition: filter 0.2s ease-in-out;
}

.image-box:hover .poster-image {
    filter: brightness(30%) blur(2px);
}

.imdb-image {
    position: absolute;
    top: 10px;
    right: 10px;
    height: 10%;  /* Adjust this to 60% smaller */
    z-index: 3; /* ensure the logo stays above the overlay */
    opacity: 0; /* The logo is initially invisible */
    transition: opacity 0.2s ease-in-out;
}

.image-box:hover .imdb-image {
    opacity: 1; /* The logo becomes visible when hovering over the image box */
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding-left: 10px; /* adjust as needed */
    opacity: 0;
    color: white;
    transition: all 0.1s ease-in-out;
    z-index: 2; /* Ensure the overlay is under the logo */
    padding-left: 0;
    padding-right: 0;
}

.image-box:hover .overlay {
    opacity: 1;
}

.data-set {
    display: flex;
    flex-direction: column;
    margin-top: 15px; /* Added some margin to separate score from other info */
}

.info-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.info-label,
.info-content {
    margin: 0; /* remove standard paragraph margins */
}

.score-item {
    display: flex;
    justify-content: center;
    align-items: center;
}


.image-box:hover .score-item {
    opacity: 1; /* The score becomes visible when hovering over the image box */
}


.col-lg-3 {
    cursor: pointer;
  }

 